@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: Android;
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}


:root {
    --cor01: #c5ebd6;
    --cor02: #83e1ad;
    --cor03: #3ddc84;
    --cor04: #2fa866;
    --cor05: #1a5c37;
    --cor06: #063d1e;

    --font-padrao: 'Arial', 'Verdana', 'Helvetica', 'sans-serif';
    --fonte-destaque: 'Bebas Neue', 'cursive';
    --fonte-android: 'Android', 'cursive';
}

* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: var(--cor01);
    font-family: var(--font-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor04), var(--cor06));
    color: white;
    min-height: 150px;
    text-align: center;
    padding: 20px;
    

}

header > p {
    max-width: 450px;
    margin: auto;
    font-size: 1.2em;text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.411);
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    padding: 10px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.411);
    font-weight: normal;
}

nav {
    background-color: var(--cor06);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.151);
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: var(--cor03);
    color: var(--cor05);
    border-radius: 5px;
}

main {
    background-color: white;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border-radius: 0px 0px 5px 5px ;
    
}

main h1 {
    font-family: var(--fonte-android);
    color: var(--cor05);
    font-weight: normal;
    font-size: 2em;
    font-weight: normal;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor04);
    text-indent: 5px;
    background-image: linear-gradient( to right, var(--cor01, ), transparent);
}

main p {
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
}

main strong {
    color: var(--cor05);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.267);
}

main a {
    text-decoration: none;
    background-color: var(--cor01);
    color: var(--cor05);
    padding: 0px 5px;
    font-weight: bold;
}

a.externo::after {
    content: '\00a0\1F517';
}

main a:hover {
    color: var(--cor04);
    text-decoration: underline;
}

aside {
    background-color: var(--cor01);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.151);
}

aside h3 {
    background-color: var(--cor06);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;box-shadow: 2px 0px 0px rgba(0, 0, 0, 0.151);
}

aside ul {
    list-style-position: inside;
    list-style-type: '\2714\00a0\00a0';
    columns: 2;
    line-height: 2em;
}

aside a {
    background-color: var(--cor02);
}

main img {
    width: 100%;;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
footer {
    background-color: var(--cor06);
    color: white;
    margin: 30px 0px 0px 0px;
    padding: 10px;
    text-align: center;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor04);
}

div.video {
    background-color: var(--cor05);
    margin: 0px -30px 30px -30px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
